
<div class="row">
  <div class="col-md-6 col-md-offset-4">
		<h3><%= link_to "Show all accounts",  login_index_path %></h3>

		<h4>Create new login:</h4>

		<%= link_to "Create login",  new_login_path, class: "btn btn-success" %>
	</div>
</div>


